.menu {
    float:right;
    padding-left: 1rem;
    right: 0;
    width: 85%; /*esta propiedad es de prueba no forma parte del codigo funcional*/
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 5px 0px 5px grey;
    transition: 0.5s;
    justify-content: space-between;
}

.menu__items {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

    .menu__items > li > a {
        /*todo esto es agregado*/
        display: block;
        padding: 15px 5px;
        text-decoration: none;
        text-align: center;
        width: 8.28rem;
    }

    .menu__items li:hover {
        background-color: rgb(241, 68, 114);
        color: #fff;
    }

.menu__vertical {
    width: 8.28rem;
    display: none;
    list-style: none;
    position: absolute;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu__items li:hover .menu__vertical {
    display: block;
}

.menu__vertical li:hover {
    background-color: black;
}

.menu__vertical li a {
    display: block;
    color: #fff;
    padding: 1rem 0rem;
    text-align: center;
    text-decoration: none;
}

#dropdown {
    width: 8.28rem;
    z-index:100;
}

.fas {
    margin-left: 0.5rem;
}

#login {
    margin-top: 0.5rem;
    position: absolute;
    right: 0;
    transition: 0.3s;
    padding: 0;
    border-radius: 1rem;
}

    #login a {
        padding: 0.5rem 0rem;
    }

    #login:hover {
        margin-right: 1rem;
        box-shadow: 3px 0px 8px grey;
        background-color: aliceblue;
        color: black;
    }
